{% extends "core/base.html" %}
{% load static %}
{% block content %}
  <div class="layout-content">
    {% include "core/block/notifications.html" %}
    <div class="container-fluid flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">Perfil</h4>
      <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="account-general">
              <form id="update-form"
                    enctype="multipart/form-data"
                    name="update-form"
                    method="post"
                    action="{% url 'core:profile-update' %}">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label">Login</label>
                    <input disabled
                           type="text"
                           id="login"
                           name="login"
                           class="form-control mb-1"
                           value="{{ user.username }}"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Nome</label>
                    <input type="text"
                           id="first_name"
                           name="first_name"
                           class="form-control"
                           value="{{ user.first_name }}"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Sobrenome</label>
                    <input type="text"
                           id="last_name"
                           name="last_name"
                           class="form-control"
                           value="{{ user.last_name }}"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label">E-mail</label>
                    <input type="text"
                           id="email"
                           name="email"
                           class="form-control mb-1"
                           value="{{ user.email }}"/>
                  </div>
                </div>
                <div class="card-footer flex-buttons-end gap-small">
                  <div>
                    <a class="br-button block" href="{% url 'core:index' %}">Voltar</a>
                  </div>
                  <div>
                    <input type="submit"
                           class="br-button primary block"
                           name="_continue"
                           value="Salvar"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
      // Function validate new password
      $("#confirm-password, #new-password").blur(function () {
        var new_pass = $("#new-password").val();
        var confirm_pass = $("#confirm-password").val();

        if (new_pass.length === 0) {
          $("#enter").prop('disabled', true)
        } else if (new_pass === confirm_pass) {
          $("#enter").prop('disabled', false)
          $("#password-error").addClass("d-none");
        } else {
          $("#enter").prop('disabled', true)
          $("#password-error").removeClass("d-none");
        }
      });
    }, false);
  })();
  </script>
{% endblock extra_js %}
