-r requirements-extras.txt

Django==4.2.*
dateparser==1.*
django-ckeditor==6.*
django-filter==24.*
django-image-optimizer==1.*
django-tempus-dominus==5.*
djangorestframework==3.*
djangorestframework-simplejwt==5.*
drf-jsonmask==0.*
drf-spectacular==0.*
elastic-apm==6.*
gunicorn==22.*
holidays==0.*
Pillow==10.*
psycopg[binary]==3.*
python-decouple==3.*
regex==2023.*
sentry-sdk==2.*
sorl-thumbnail==12.*
