Django==4.2.*
dateparser==1.1.*
django-ckeditor==6.5.*
django-filter==23.1.*
django-image-optimizer==1.0.*
django-tempus-dominus==5.1.*
djangorestframework==3.14.*
djangorestframework-simplejwt==5.2.*
drf-jsonmask==0.3.*
drf-yasg==1.21.*
dj-rest-auth==3.0.*
elastic-apm==6.15.*
gunicorn==20.1.*
holidays==0.23
Pillow==9.5.*
psycopg[binary]==3.1.*
python-decouple==3.8.*
sentry-sdk==1.21.*