# requirements-dev.in
-r requirements.txt

autoflake==2.*
autopep8==2.*
black==24.*
django-debug-toolbar==4.*
django-extensions==3.*
djlint==1.*
Faker==25.*
html5lib==1.*
isort==5.*
mkdocs==1.*
mkdocs-material==9.*
mkdocs-with-pdf==0.*
mkdocstrings==0.*
model_bakery==1.*
pytest==8.*
pytest-cov==5.*
pytest-django==4.*
rich==13.*
Sphinx==7.*
sphinx_rtd_theme==2.*
taskipy==1.*
validate-docbr==1.*