# requirements-dev.in
-r requirements.txt

autoflake==2.2.*
autopep8==2.0.*
beautifulsoup4==4.12.*
black==24.1.*
django-debug-toolbar==4.3.*
django-extensions==3.2.*
djlint==1.34.*
Faker==22.6.*
html5lib==1.*
isort==5.13.*
mkdocs==1.5.*
mkdocs-material==9.5.*
mkdocs-with-pdf==0.9.*
mkdocstrings==0.24.*
model_bakery==1.17.*
pytest==8.0.*
pytest-cov==4.1.*
pytest-django==4.8.*
rich==13.7.*
Sphinx==7.2.*
sphinx_rtd_theme==2.0.*
taskipy==1.12.*
validate-docbr==1.10.*