-r requirements-extras.txt

Django==4.2.*
dateparser==1.2.*
dj-rest-auth==6.0.*
django-ckeditor==6.7.*
django-filter==24.*
django-image-optimizer==1.0.*
django-select2==8.1.*
django-tempus-dominus==5.1.*
djangorestframework==3.15.*
djangorestframework-simplejwt==5.3.*
drf-jsonmask==0.4.*
drf-spectacular==0.27.*
elastic-apm==6.22.*
gunicorn==22.0.*
holidays==0.*
Pillow==10.3.*
psycopg[binary]==3.1.*
python-decouple==3.*
sentry-sdk==2.0.*
