{% extends "core/base.html" %}
{% load static %}
{% block content %}
  <div class="layout-content">
    {% include "./block/notifications.html" %}
    <div class="d-flex flex-column flex-md-row justify-content-end mb-4 gap-large">
      <div id="titulo-modulo" class="align-self-center me-auto">
        {% block title_modulo %}
        {% endblock title_modulo %}
      </div>
      <div class="d-flex gap-medium justify-content-between">
        <div id="search-field">
          <div class="br-input large input-button">
            <form method="get">
              <input id="pesquisa" type="search" name="q" placeholder="Pesquisar..." />
              <button class="br-button" type="submit" aria-label="Buscar">
                <i class="fas fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        {% if has_add_permission %}
          <div class="align-self-center">
            <a href="{% block uriadd %}{% endblock uriadd %}"
               class="br-button primary align-items-center block">
              <span class="fa fa-plus mr-2"></span><span>Adicionar</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-12 mb-2 mt-2 m-0 pr-0">
      {% block filter %}
      {% endblock filter %}
    </div>
    <div class="col-12 row mb-2 mt-2 m-0 pr-0">
      {% block barra_botoes_extra %}
      {% endblock barra_botoes_extra %}
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-datatable table-responsive">
          {% include "./block/sort_and_order_by.html" %}
          {% block list_app %}
          {% endblock list_app %}
          <div class="card-body">
            <div class="flex-buttons-between align-items-center gap-small">
              <div>
                <p>
                  {% block size_itens %}
                  {% endblock size_itens %}
                </p>
              </div>
              {% if is_paginated %}
                <div class="br-pagination">
                  <ul>
                    {% if page_obj.has_previous %}
                      <li>
                        <a class="br-button circle"
                           href="?page={{ page_obj.previous_page_number|stringformat:" s" }}&{{ url_pagination }}">
                          <i class="fas fa-angle-left" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number != i and i < page_obj.number and i == 2 and page_obj.number|add:-1 > 2 or  page_obj.number != i and i > page_obj.number and i == page_obj.paginator.num_pages|add:-1  and page_obj.number|add:1 < page_obj.paginator.num_pages|add:-2 %}
                        <li class="disabled pagination-ellipsis">
                          <button class="br-button circle" type="button">
                            <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                          </button>
                        </li>
                      {% else %}
                        {% if i >= page_obj.number|add:-1 and i <= page_obj.number|add:1 or i <= 2 or i >= page_obj.paginator.num_pages|add:-1 %}
                          <li>
                            <a class="page circle {% if page_obj.number == i %}active{% endif %}"
                               href="?page={{ i|stringformat:" s" }}&{{ url_pagination }}">{{ i|stringformat:"s" }}</a>
                          </li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li>
                        <a class="br-button circle"
                           href="?page={{ page_obj.next_page_number|stringformat:" s" }}&{{ url_pagination }}">
                          <i class="fas fa-angle-right" aria-hidden="true"></i>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'core/js/sort_and_order_by.js' %}"></script>
{% endblock extra_js %}
