<!--
Arquivo gerado automaticamente pelo build.
Caso deseje bloquear o parser nesse arquivo, basta adicionar o caracter #(cerquilha) antes da palavra a seguir
FileLocked
-->
{% extends "core/index_list.html" %}
{% load base %}
{% block title %}
    Listagem Configuração
{% endblock title %}
{% block title_modulo %}
    <h4 class="font-weight-bold m-1">Configuração - {{ model_name }}</h4>
{% endblock title_modulo %}
<!-- Bloco para passagem da URL do formulário de cadastro -->
{% block uriadd %}
    {% url "configuracao_core:logosistema-create" %}
{% endblock uriadd %}
{% block list_app %}
    <table>
        <thead>
            <tr>
                <th class="table-actions" scope="col">Ações</th>
                <th></th>
                <!--REPLACE_THEAD-->
                <th scope="col" class="table-delete"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in logosistema %}
                <tr {% if item.deleted %}class="deleted"{% endif %}>
                    <td class="text-center">
                        {% if perms.configuracao_core.view_logosistema %}
                            <a href="{% url 'configuracao_core:logosistema-detail' item.pk %}"
                               class="br-button circle primary small m-1"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Visualizar">
                                <i class="fas fa-eye fa-sm"></i>
                            </a>
                        {% endif %}
                        {% if perms.configuracao_core.change_logosistema %}
                            <a href="{% url 'configuracao_core:logosistema-update' item.pk %}"
                               class="br-button secondary circle small m-1"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Editar">
                                <i class="fas fa-pencil-alt fa-sm"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td></td>
                    <!--REPLACE_TLINE-->
                    <td class="text-center">
                        {% if perms.configuracao_core.delete_logosistema %}
                            {% if item.deleted %}
                                <a href="{% url 'configuracao_core:logosistema-restore' item.pk %}"
                                   class="br-button circle small text-success"
                                   data-toggle="tooltip"
                                   data-placement="bottom"
                                   title="Restaurar">
                                    <i class="fas fa-trash-restore fa-sm"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'configuracao_core:logosistema-delete' item.pk %}"
                                   class="br-button circle small text-danger"
                                   data-toggle="tooltip"
                                   data-placement="bottom"
                                   title="Excluir">
                                    <i class="fas fa-trash fa-sm"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list_app %}
{% block size_itens %}
    Exibindo {{ logosistema.count }} de {{ paginator.count }} itens encontrados.
{% endblock size_itens %}
