{% extends "core/index_update.html" %}
{% load base %}
{% load static %}
{% block title %}
    Alterar Senha
{% endblock title %}
<span class="text-muted font-weight-light"></span>
{% block title_modulo %}
    <h4 class="font-weight-bold py-3 mb-4">
        <span class="text-muted font-weight-light">Perfil /</span> Alterar Senha
    </h4>
{% endblock title_modulo %}
<div class="row">
    {% block form_app %}
        <div class="col-xl-12">
            <form id="form_principal"
                  class="needs-validation was-validated"
                  method="post"
                  novalidate
                  enctype="multipart/form-data">
                <div class="card-body">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-row">
                        {% if form.old_password in form.visible_fields %}
                            <div class="form-group col-md-12">
                                {{ form.old_password.label_tag }}
                                {{ form.old_password }}
                                <div class="invalid-feedback">Campo Requerido.</div>
                                {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}
                            </div>
                        {% endif %}
                        {% if form.new_password1 in form.visible_fields %}
                            <div class="form-group col-md-12">
                                {{ form.new_password1.label_tag }}
                                {{ form.new_password1 }}
                                <div class="invalid-feedback">Campo Requerido.</div>
                                {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
                            </div>
                        {% endif %}
                        {% if form.new_password2 in form.visible_fields %}
                            <div class="form-group col-md-12">
                                {{ form.new_password2.label_tag }}
                                {{ form.new_password2 }}
                                <div class="invalid-feedback">Campo Requerido.</div>
                                {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-toolbar flex-buttons-end gap-small" role="toolbar">
                    <div>
                        <a class="br-button block" href="{% url 'core:profile' %}">Voltar</a>
                    </div>
                    <div>
                        <input type="submit" class="br-button primary block" value="Salvar" />
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock form_app %}
</div>
