{% extends "core/registration/base_login.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block page_title %}
    {{ title }}
{% endblock page_title %}
{% block form %}
    {% csrf_token %}
    <div class="form-floating">
        <input name="{{ form.username.html_name }}"
               placeholder="Usuário"
               id="{{ form.username.id_for_label }}"
               value="{% if form.username.value is not None %}{{ form.username.value }}{% endif %}"
               required
               type="text"
               class="form-control" />
        <label for="{{ form.username.id_for_label }}">Usuário</label>
        {% if form.username.errors %}{{ form.username.errors }}{% endif %}
        {% if form.username.help_text %}
            <small class="form-text text-muted">{{ form.username.help_text|safe }}</small>
        {% endif %}
        {% if form.username.field.required %}
            <div class="invalid-feedback">{{ form.username.field.error_messages.required }}</div>
        {% endif %}
    </div>
    <div class="form-floating">
        <input name="{{ form.email.html_name }}"
               id="{{ form.email.id_for_label }}"
               required
               class="form-control"
               placeholder="Email" />
        <label for="{{ form.email.id_for_label }}">Email</label>
        {% if form.email.errors %}{{ form.email.errors }}{% endif %}
        {% if form.email.help_text %}<small class="form-text text-muted">{{ form.email.help_text|safe }}</small>{% endif %}
    </div>
    {% if form.email.field.required %}
        <div class="invalid-feedback">{{ form.email.field.error_messages.required }}</div>
    {% endif %}
{% endblock form %}
{% block submit_text %}
    Enviar Pedido
{% endblock submit_text %}
{% block botao_extra %}
    <div>
        <a href="{% url 'core:login' %}"
           class="br-button block pl-5 pr-5">Voltar</a>
    </div>
{% endblock botao_extra %}
{% block extra_js %}
    <script>
        document.querySelector('form').addEventListener('submit', function() {
            document.querySelector('button[type="submit"]').innerHTML = '<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span> Enviando e-mail...';
            document.querySelector('button[type="submit"]').disabled = true;
        });
    </script>
{% endblock extra_js %}
