alembic==1.13.*
asyncpg==0.29.*
elastic-apm==6.21.*
email-validator==2.1.*
fastapi==0.110.*
gunicorn==21.2.*
httpx==0.27.*
loguru==0.7.*
passlib==1.7.*
psycopg2-binary==2.9.*
pydantic==2.6.*
pydantic-settings==2.2.*
pyjwt==2.8.*
python-dotenv==1.0.*
python-multipart==0.0.*
rich==13.7.*
SQLAlchemy==2.0.*
taskipy==1.12.*
uvicorn[standard]==0.29.*
