alembic==1.*
asyncpg==0.*
elastic-apm==6.*
email-validator==2.*
fastapi==0.111.*
gunicorn==22.*
httpx==0.*
loguru==0.*
passlib==1.*
psycopg2-binary==2.*
pydantic==2.*
pydantic-settings==2.*
pyjwt==2.*
python-dotenv==1.*
python-multipart==0.*
rich==13.*
SQLAlchemy==2.*
taskipy==1.*
uvicorn[standard]==0.*
