<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container-fluid mx-3">
        <div class="row align-items-center">
            <div class="col-lg-3 ml-auto text-right text-muted">
                {% now "j \d\e F \d\e Y H:i" %}
            </div>
            <div class="col-lg order-lg-first" style="margin-bottom: -4px;">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    {% for app in apps %}
                        {% if app.real_name_app.lower in perms %}
                            <li class="nav-item">
                                <a href="{% url app.index_url_app %}" class="nav-link active">
                                    <i class="fe fe-box"></i> {{ app.name_app }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>